* {
    box-sizing: border-box;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
    padding: 15px;
    
}
.header {
    
    padding: 15px;
}

.navbar {
  overflow: hidden;
  background-color: green;
  position: fixed;
  top: 0;
  width: 100%;
  border: 2px solid green;
  margin: 1px;
}

.navbar a {
  float: left;
  display: inline-block;
  border-right: 1px solid #bbb;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar a.active {
  background-color: dodgerblue;
  color: white;
}
.center{
	
	background-color: #FFD700;
	padding: 15px;
	color: #ffffff;
	font-size: 18px;
	
}
.left{
	
	background-color: #FFD700;
	padding: 15px;
	color: #ffffff;
	font-size: 18px;
	
}
#logo{
	
	width: 25px;
	height:25px;
	
}
body{
	margin:0;
	background: lightblue url("background.jpg") no-repeat fixed center;
}

nav{
	border: solid 3px blue;
	margin: 1%;
	
}
#D2
{
	height:400px;
}
.img{
	height:200px;
	width:150px;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
	
}
/*	
.aside{
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: background-color 2s;
	height:200px;
	
}
.aside {transition-timing-function: ease;}
.aside:hover {
  background-color: red;
}
*/



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
